html {
  background-image: url('./converted-jeremy-thomas-98201.jpg');
  background-position: center;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  background: radial-gradient(transparent, #212121);
}

.App {
  padding: 20px;
  text-align: center;
  color: white;
}

.App-title {
  text-transform: capitalize;
}

.App-header {
  background: rgba(0, 0, 0, 0.5);
  max-width: 750px;
  margin: auto;
  padding: 20px;
  color: white;
}

.App-main {
  background: rgba(0, 0, 0, 0.5);
  max-width: 750px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}
