form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

span {
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
  flex-basis: 250px;
  text-transform: capitalize;
}

label {
  margin: 5px 10px;
}

input {
  font-size: 1rem;
  border: none;
  background: none;
  color: white;
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
  text-align: center;
}

input:focus {
  outline: none;
  border-bottom: dashed 1px;
}
