.Earth {
  max-width: 750px;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin: 5px 10px;
}

.Earth-unit {
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
  flex-basis: 220px;
  text-transform: capitalize;
}
